<div class="container">
  <div class="controls">
    <label>
      <input type="radio" name="transferMethod" [(ngModel)]="transferMethod" value="http"> HTTP
    </label>
    <label>
      <input type="radio" name="transferMethod" [(ngModel)]="transferMethod" value="websocket"> WebSocket
    </label>

    <button (click)="startRecording()" *ngIf="!recording">Start Recording</button>
    <button (click)="stopRecording()" *ngIf="recording">Stop Recording</button>
    <button (click)="clearResults()">Clear All Data</button>
  </div>

  <div class="results">
    <div class="recognized-text">
      <h3>Recognized Text:</h3>
      <ul>
        <li *ngFor="let text of recognizedText" class="list-item">{{ text }}</li>
      </ul>
    </div>

    <div class="translated-text">
      <h3>Translated Text:</h3>
      <ul>
        <li *ngFor="let translate of translatedText" class="list-item">{{ translate }}</li>
      </ul>
    </div>

    <div class="response-options">
      <h3>Response Options:</h3>
      <ul>
        <li *ngFor="let option of responseOptions" class="list-item">{{ option }}</li>
      </ul>
    </div>
  </div>
</div>
